/* credits: https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap */

/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Rep8ltA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03ROp8ltA.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Sup8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* own code */

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: rgb(61, 61, 61);
  color: rgb(201, 201, 201);
}

::-webkit-scrollbar {
  display: none;
}

.side_text {
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
}

#title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;

  font-size: 30px;
  padding-bottom: 0px;
  color: white;
}

#message {
  font-size: 30px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  margin: 10px;
  text-align: right;
  width: 53%;
}

h3 {
  width: 60%;
  text-align: right;
  font-weight: 500;
}

#inputs {
  display: inline-block;
  width: 400px;
}

input {
  background-color: rgb(61, 61, 61);
  border-color: rgb(201, 201, 201);
  /* border-style: inherit; */
  padding: 20px;
  height: 15px;
  width: 100px;
  font-size: 25px;
  color: white;
}

input:focus {
  border-color: aqua;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#calc {
  display: inline-block;
  position: relative;
  bottom: 62px;
  width: 130px;
  height: 50px;
  font-size: 25px;
}

#calc:hover {
  cursor: pointer;
}

#results {
  /* display: inline-block; */
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#legend-div,
#canvas {
  display: inline;
  width: 500px;
  margin-right: 20px;
}

.legend {
  color: rgb(201, 201, 201);
  font-size: 20px;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
/* body {
    font-family: 'Didact Gothic', sans-serif;
    color:#333;
        box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
   
    background-color: #f2f2f2;
    height: 110px;
    padding: 10px 0;
    
}

nav {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100px;
    
} */

.lang-menu {
    width: 100px;
    text-align: left;
    margin-top: 10px;
    position: relative;
    font-size: 25px;
    float: right;
    bottom: 30%;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
  text-align: left;
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 150px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pl:before {
    background-image: url("./img/pl.png");
}

.en:before {
    background-image: url("./img/en.png");
}


.lang-menu:hover ul {
    display: block;
}